@model ProfileIndexViewModel

<div>
    <h1>Update profile</h1>

    <form method="post" action="/Profile/Update">
        <input name="Name" value="@Model.Name" placeholder="Name"/>
        <input type="submit" value="save" />
    </form>
</div>

<div> @* Uploading picture form *@
    <form asp-action="UploadProfilePicture" method="post" enctype="multipart/form-data">
        <input type="file" name="ProfileImage" class="form-control" />
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.ProfilePicture))
    {
        <img src="@Model.ProfilePicture" alt="Profile Picture" class="img-thumbnail" />
    }
</div>