@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>New Broadcast</h2>

    <form method="post" action="/Home/Broadcast">
        <textarea name="Message"></textarea> <br /> @* To br einai gia na yparxei kaino metaksi tou message kai tou koumpiou *@
        <input type="submit" value="Post" /> @* To Post tou value einai ti 8a fenete sto koumpi *@
    </form>
</div>
